.body {
width: 1440px;
height: 2750px;
margin: auto;
}

.header {
font-family: 'Raleway', 'Arial';
font-size: 18px;
justify-content: space-between;
align-content: space-between;
display: flex;
width: 1340px;
height: 109px;
margin: 92px 49px 104px 51px;
position: relative;

}

.header-menu {
    display: flex;
    flex-direction: row;
    margin-top: 43px;
    gap: 32px;
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
    text-decoration: none;
}

.logo{
    position: absolute;
    margin-left: 597px;
}

.logo-image {
    width: 148px;
    height: 105px;
}

.info {
    font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24.3px; /* 135% */
}

.cover {
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
    height: 757px;
    margin: 0;
    margin-bottom: 164px;
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    position: relative;
    grid-area: auto;
}

.overlay {
    z-index: 10;
    position: absolute;
    inset: 0;
    background-color: rgb(0 0 0 / 0.5);
}

.cover-content {
    display: flex;
    width: 100%;
    justify-content: space-around;
    z-index: 11;
}

.cover-description-text {
    color: white;
    word-spacing: 17px;
    text-transform: uppercase;
    font-family: 'Raleway', 'Arial';
    font-size: 22px;
    font-style: normal;
    text-align: left;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
    z-index: 11;
    margin-top: 147px;
    margin-right: 78px;
    margin-left: 422px;
}

.button {
    background-color: transparent;
    color: white;
    border-color: white;
    border-width: 1px;
    font-family: 'Raleway', 'Arial';
    font-size: 22px;
    font-style: normal;
    text-transform: uppercase;
    width: 257px;
    height: 52px;
    margin-top: 135px;
    margin-right: 50px;
    flex-shrink: 0;

}

.aligned-text {
    z-index: 11;
    font-family: 'Raleway', 'Arial';
    font-size: 100px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    opacity: 1;
    justify-content: space-between;
    margin-top: 165px;
    margin-left: 50px;
    letter-spacing: 30px;
}

.cover-no-be {
    letter-spacing: 60px;
}

.aligned-text-left {

}

.aligned-text-center {
    text-align: center;
    letter-spacing: 30px;
}

.aligned-text-right {
    text-align: right;
    letter-spacing: 60px;
}

.cover-ad {
letter-spacing: 30px;
}

.lots {
    display: flex;
flex-direction: column;
justify-content: space-between;
position: relative;
height: 579px;
}

.lots-title {

    margin-left: 90px;
    margin-top: 0;
    font-family: 'Raleway', 'Arial';
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}

.lots-card-list {
    display: flex;
    gap: 26px;
    list-style: none;
    align-content: center;
    margin: 27px 50px 0 50px;

}

.lots-card {
    width: 100%;
    z-index: 11;
    position: relative;
    
}

.card {
    display: block;
    text-decoration: none;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 50px 40px 50px 40px;  
}

.card-linkfilm {
    background-image: url("../images/card-lot-01.jpg");
}

.card-linkbook {
    background-image: url("../images/card-lot-02.jpg"); 
}

.card-linkpicture {
    background-image: url("../images/card-lot-03.jpg"); 
}

.card-title {
    font-family: 'Raleway', 'Arial';
    font-size: 22px;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    color: white;
    line-height: 120%;
    z-index: 11;
    position: relative;
}

.card-content {
    color: white;
font-family: 'Raleway', 'Arial';
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 24px */
z-index: 11;
position: relative;
}

.nav {
    display: block;
    color: #000;
    margin: 30px 0 0 40px;
font-family: 'Raleway', 'Arial';
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 90px;
}

.about {
    display: flex;
    margin-top: 181px;
    margin-left: 145px;
}

.logo-circle {
    margin-left: ;
    background: black;
    width: 240px;
    height: 240px;
    clip-path: ellipse(115px 115px);
    z-index: 10;
    position: relative;
}

.logo-image-white {
    margin-left: 46px;
    margin-top: 63px;
    width: 148px;
    height: 114px;
    z-index: 11;
    position: absolute;
}

.about-title {
font-family: 'Raleway', 'Arial';
font-size: 40px;
font-weight: bold;
text-transform: uppercase;
margin-bottom: 100px;
}

.about-text {
    text-align: left;
    margin-left: 120px;
    margin-right: 50px;
    margin-top: 100px;
    margin-bottom: auto;
    font-family: 'Raleway', 'Arial';
    font-size: 20px;
    font-style: normal;
    width: 885px;
    flex-shrink: 0;
    color: #000;
    font-weight: 400;
    line-height: normal;
}

.about-text-p {
    margin-top: 25px;
}

.footer {
font-family: 'Raleway', 'Arial';
font-size: 18px;
display: flex;
justify-content: space-between;
margin: 180px 50px 90px 50px;
}

.footer-menu {
text-align: center;
}

.footer-link-active {
    text-decoration: none;
}

.footer-menu-list {
    list-style: none;
}

.footer-socials {
width: 240px;
height: 48px;
display: flex;
gap: 48px;
}

.footer-socials-img {
    width: 48px;
    height: 48px;
}


